// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
//@import "~font-awesome/scss/font-awesome";

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

html, body {
    height: 100%;
}

.font-mono {
    font-family: 'IBM Plex Mono', monospace;
}

.color-white {
    color: white;
}

.color-red {
    color: $color-red;
}

.color-green {
    color: $green;
}

.color-lblue {
    color: $cyan;
}

.bg-red {
    background-color: lighten($color-red, 0.1);
}

.bg-blue {
    background-color: $color-blue;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
    opacity: 0;
}

.slide-enter-active, .slide-leave-active {
    transition: right .5s ease-out;
}

.slide-enter, .slide-leave-to {
    right: -100px;
}

.slide-enter-to, .slide-leave {
    right: 0px;
}
